body {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: lightgrey;
    margin: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}
.nav {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.header {
    text-align: center;
    background-color: lightgray;
    color: darkblue;
    width: 100%;
    padding: 20px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 100vw;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
